.poke-details {
	text-align: center;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	img{
		width: calc(475px * 0.75);
	}
}

.pokemon-stats {
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 1rem;
}

.stat-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.stat-name {
		text-transform: capitalize;
		margin-right: 0.25rem;
	}

	.stat-bar {
		width: 16rem;
		height: 1.5rem;
		background-color: lightgrey;
		border: 0.25px solid #f1f1f1;
		border-radius: 10px;
		margin-left: 0.25rem;

		.inner {
			height: 100%;
			background-color: lightgreen;
			border-radius: inherit;
			display: grid;
			place-items: center;
			color: black;
		}
	}
}
