<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div id="dex">
          <h1>Pokedex</h1>
        <% data.forEach((pokemon)=>{%>
        <div class="poke-container">
          <h2 class="pokemon-name"><%= pokemon.name %></h2>
        </div>
        <%}) %> 
        </div>
        

        <button id="more">More</button>
      </div>
    </main>
  </body>
</html>
