<%- include('header') %> 

<title>PoKAdex</title>
</head>
<body>
  <main>
    <div class="container">
      <p class="pokemon-id">#<%= id %> </p>
      <h1 class="pokemon-name"><%= name %> </h1>
      <img src="<%- imageURL %> " alt="" class="pokemon-image">
    </div>
  </main>
</body>
</html>